body{
    background-color: lightgray;
}

.container{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 40px;
    background-color: white;
}


.navbar{
    background-color: rgb(42, 170, 138);
}

a.navbar-brand{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

h3{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(42, 170, 138);
}

h4{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(42, 170, 138);
}

h5{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(42, 170, 138);
    text-align: center;
}

@media (max-width: 700px) {
    .navbar {
        background-color: grey;
      }
  }